//
   Created by hschmale on 5/16/16.

extends layout

block body-content
    div.jumbotron.text-center
        h1= "404 Not Found " + url
        if msg
            p= msg
        p Try one of the following solutions:
        p
            a(href="/") Go Home