//
    Shows the stories
    Created by hschmale on 5/16/16.

extends layout

block head-content
    link(rel="stylesheet",href="/static/tag-cloud/plain-tag-cloud.css")

block body-content
    h1 Browse
    include includes/snip/story-list
