//
    Displays the edit story page for a given story
    Created by hschmale on 5/18/16.

extends layout

block head-content
    script(src="/static/jquery-ui.min.js")

block body-content
    h1 Edit Story: #{storyName}
    p.
        This page will allow you to edit a story that you wrote on this site. It allows you to add and delete tags
        from your story. It will also allow you to edit other attributes eventually.
    h2 Title
    form(method="post",action="/edit/s/#{storyId}/title")
        label(for="editTitle") Title
        input(type="title",name="title",value='#{storyName}').form-control#editTitle

    h2 Description
    form(method="post",action="/edit/s/#{storyId}/descr")
        label(for="descr")
        input(type='text',name='descr',value='#{storyDescr}').form-control#descr

    h2 Tags
    table.table
        tr
            th Tag
            th Options
        each tag in tags
            tr
                td
                    a(title="#{tag.description}",href="/tag/#{tag.name}") #{tag.name}
                td
                    form(method="POST",action="/edit/s/#{storyId}/deltag")
                        input(hidden="true",name="tag",value="#{tag.name}")
                        button(type="submit").btn.btn-default Delete Tag

    form(method="POST",action="/edit/s/#{storyId}/addtag")
        input(name="tag",placeholder='Add a new tag')#tagAdder.form-control

    script
        include includes/js/ac-tag.js

