//
   Created by hschmale on 5/25/16.

extends layout

block head-content
    script(src="/static/marked.min.js")
    script(src="/static/markitup/jquery.markitup.js")
    script(src="/static/markitup/sets/markdown/set.js")
    link(rel="stylesheet",href="/static/markitup/skins/markitup/style.css")
    link(rel="stylesheet",href="/static/markitup/sets/markdown/style.css")

block body-content
    h1 Editing Chapter #{chapnum} of "#{chapter.Story.title}"
    div.col-lg-9
        form(role="form",method="post",action="/edit/s/#{story.id}/#{chapnum}")
            div.form-group
                label(for="chapTitle") Chapter Title
                input(type=text,name="title", value=chapter.title).form-control#chapTitle
            div.form-group
                label(for="text") Chapter Text
                textarea(rows=10,name="text",required=true).form-control#text!= chapter.text
            button(type=submit).btn.btn-default Replace Chapter Content
        script(type="text/javascript").
            $(document).ready(function () {
                $('#text').markItUp(mySettings);
            });