//
    Displays the homepage for people who are not logged in

extends layout

block body-content
    h1 A New Way For Writers to Share Their Work
    div.jumbotron.text-center
        div.row
            div.col-lg-4
                h2 Tag Your Work
                img(src="/images/homepage-tags-icon.png")
                p Use tags to set the subject of your work, and making searching efficient.
            div.col-lg-4
                h2 Community Feedback
                img(src="//placehold.it/250x250")
                p Get feedback quickly from many users of all backgrounds.
            div.col-lg-4
                h2 Powerful Linters
                img(src="//placehold.it/250x250")
                p Locate errors quickly and correct them with ease using our smart editing tools.
        div.row
            div.col-lg-4
                h2 Collect Badges
                img(src="/images/homepage-badges.png")
                p Collect reputation within the community to further your status.
            div.col-lg-4
                h2 Join Our Community
                p Become a member of our community today.
                a(href="/signin").btn.btn-success Join Now
            div.col-lg-4
                h2 Intelligent Search
                img(src="//placehold.it/250x250")
                p Locate exactly what you are looking for as quickly as possible.
    div.row
        div.col-lg-6
            include includes/snip/news-feed
        div.col-lg-6
            include includes/snip/top-tags-list