//
    Displays the homepage when the user is logged in
    Created by hschmale on 5/29/16.

extends layout

block body-content
    div.row
        div.col-lg-8
            // TODO: Put main content
            h1 News Feed
            ul
                each not in notifies
                    li
                        small!= not.createdAt
                        !=not.msg
        div.col-lg-4
            include includes/snip/news-feed
            include includes/snip/top-tags-list
