//
    Main layout for the better fiction site

doctype html
html
    head
        title!= title ? title + " | Writersite" : "WriterSite"
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        script(src="/static/jquery.min.js")
        script(src="/static/bootstrap.min.js",async)
        link(rel='stylesheet',href='/static/bootstrap.min.css')
        style
            include includes/basic-styles.css
        block head-content
    body
        nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            div.navbar-header
                button(type="button",data-toggle="collapse",data-target=".navbar-collapse").navbar-toggle
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(rel="home", href="/") Writer Site Alpha
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a(href="#",data-toggle="dropdown").dropdown-toggle Browse
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/browse/0") Newest
                            li
                                a(href="/tag100") Top 100 Tags
                            li
                                a(href="/tag") By Tag
                    if user
                        li.dropdown
                            a(href="#",data-toggle="dropdown").dropdown-toggle Create
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/new/story") Story

                        if user.isAdmin
                            li.dropdown
                                a(href="#",data-toggle="dropdown").dropdown-toggle Admin
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href="#") Post an Announcement
                div.col-sm-3.col-md-3.pull-right
                    form(role="search",action="/search").navbar-form
                        div.input-group
                            input(type="text",placeholder="search",name="q").form-control
                            div.input-group-btn
                                button(type="submit").btn.btn-default
                                    i.glyphicon.glyphicon-search
                ul.nav.navbar-nav.navbar-right
                    if user
                        li.dropdown
                            a(href="#",data-toggle="dropdown") #{user.displayName}
                            ul.dropdown-menu
                                // only if they have an image associated with their profile
                                li(align="center").well
                                    if user.imageUrl
                                        div
                                            img(src="#{user.imageUrl}",style="padding:2%;")
                                    a(href="/profile").btn.btn-sm.btn-default
                                        span.glyphicon.glyphicon-user
                                        | Profile
                                    a(href="#").btn.btn-sm.btn-default
                                        span.glyphicon.glyphicon-cog
                                        | Settings
                                    a(href="/logout").btn.btn-sm.btn-default
                                        span.glyphicon.glyphicon-logout
                                        | Logout
                    else
                        li
                            a(href="/signin") Login or Create Account
        // insert the body content
        div.container#content
            block body-content
        footer.footer.container.text-center
            hr
            div.row
                div.col-lg-12
                    div.col-md-3
                        ul.nav.nav-pills.nav-stacked
                            li
                                a(href="/pages/about") About
                            li
                                a(href="/browse") Browse
                    div.col-md-3
                        ul.nav.nav-pills.nav-stacked
                            li
                                a(href="/news") News
                            li
                                a(href="https://bitbucket.org/HSchmale/writersite/issues/new") Report a Bug
                    div.col-md-3
                        ul.nav.nav-pills.nav-stacked
                            li
                                a(href="/pages/rules") Rules
                            li
                                a(href="/pages/help") Help
                    div.col-md-3
                        ul.nav.nav-pills.nav-stacked
                            li
                                a(href="/pages/contact") Contact
                            li
                                a(href="#") API(Eventually)
            hr
            div.row
                div.col-lg-12
                    ul.nav.nav-pills.nav-justified
                        li
                            a(href="/") &copy; 2016 WriterSite
                        li
                            a(href="/pages/tos") Terms of Service
                        li
                            a(href="/pages/privacy") Privacy
