//
    Shows page to add a new story
    Created by hschmale on 5/15/16.

extends layout

block head-content
    script(src="/static/jquery-ui.min.js")
    script(src="/static/marked.min.js")
    script(src="/static/markitup/jquery.markitup.js")
    script(src="/static/markitup/sets/markdown/set.js")
    script(src="/static/tag-cloud/bootstrap-tag-cloud.js")
    link(rel="stylesheet",href="/static/markitup/skins/markitup/style.css")
    link(rel="stylesheet",href="/static/markitup/sets/markdown/style.css")
    link(rel="stylesheet",href="/static/tag-cloud/bootstrap-tag-cloud.css")

block body-content
    h1 Create A New Story
    div.row
        div.col-lg-9
            form(role=form,method="post")#newStory
                div.form-group
                    label(for="title") Title
                    input(type="text",name="title",required=true).form-control#title
                div.form-group
                    label(for="description") Description
                    input(type="text",name="description",required=true).form-control#description
                div.form-group
                    label(for="chapTitle") Title of First Chapter
                    input(type=text,name="chaptitle").form-control#chapTitle
                div.form-group
                    label(for="firstChapter") Text of First Chapter
                    textarea(rows=10,name="firstchap",required=true).form-control#firstChapter
                div.form-group.input-append.hasjs#tag-info
                    label(for='tagAdder') Tags for Story
                    input(type=text)#tagAdder
                    button(type=button).btn
                        | Add Tag
                        i.glyphicon-plus
                    ul#tag-cloud
                button.btn#submitStory Submit
            script
                include ./includes/js/ac-tag.js
            script(type="text/javascript").
                $(document).ready(function () {
                    $('#firstChapter').markItUp(mySettings);
                });
                $('.hasjs').removeClass('hasjs');
                // modify the tags before send
                $('#newStory').submit(function () {
                    $('li.tag-cloud')
                            .each(function () {
                                $('<input>').attr('type', 'hidden')
                                        .attr('name', 'tags[]')
                                        .attr('value', $(this).text())
                                        .appendTo($('#newStory'));
                            });
                });