//
   Created by hschmale on 5/23/16.

extends layout
block head-content
    script(src="/static/marked.min.js")
    script(src="/static/markitup/jquery.markitup.js")
    script(src="/static/markitup/sets/markdown/set.js")
    link(rel="stylesheet",href="/static/markitup/skins/markitup/style.css")
    link(rel="stylesheet",href="/static/markitup/sets/markdown/style.css")

block body-content
    h1 Add New Chapter To: #{story.title}
    div.col-lg-9
        p You are writing chapter #{story.nextChapterNumber} for this story.
        form(role="form",method="post",action="/new/chap/#{story.id}")
            div.form-group
                label(for="chapTitle") Chapter Title
                input(type=text,name="title").form-control#chapTitle
            div.form-group
                label(for="text") Chapter Text
                textarea(rows=10,name="text",required=true).form-control#text
            button(type=submit).btn.btn-default New Chapter
    script(type="text/javascript").
        $(document).ready(function () {
            $('#text').markItUp(mySettings);
        });