//
    displays listing of all recent news items
    Created by hschmale on 5/28/16.

extends layout

block body-content
    h1 News List
    each item in news
        div.panel
            div.panel-heading
                div.text-center
                    div.row
                        div.col-sm-9.text-left
                            h2= item.title
                            p= item.createdAt
            div.panel-body
                p= item.getPreview(40) + " "
                    a(href="/news/#{item.id}") See More