//
   Created by hschmale on 6/13/16.

extends layout


block body-content
    if results.length > 0
        h1 Search: #{terms}
        for row in results
            div.row
                div.col-lg-1
                    img(src="#{row.Story.User.imageUrl}")
                div.col-lg-11
                    a(href="/s/#{row.Story.id}")= row.Story.title
                    p= row.Story.description
    else
        h1 No Results For: #{terms}