//
   Created by hschmale on 5/12/16.
extends layout

block body-content
    div.jumbotron.text-center
        h1 Writer Site

        p Login or Register with:

        a.btn.btn-danger(href="/auth/google") Google