//
    Shows stories by a specific tag
    Created by hschmale on 5/20/16.

extends layout

block head-content
    link(rel="stylesheet",href="/static/tag-cloud/plain-tag-cloud.css")

block body-content
    h2 Stories Tagged: #{tag.name}
    include includes/snip/story-list-tag