//
    display a story
    Created by hschmale on 5/15/16.

extends layout

block body-content
    header
        div.row
            div.col-lg-9
                h1
                    if story.Chapters[0].title
                        span= story.title + ': ' + story.Chapters[0].title
                    else
                        span= story.title
                    br
                    small Written By:
                        a(href="/u/#{story.UserId}")= story.User.displayName
    div.row#chapterContent
        div.col-lg-9
            != story.Chapters[0].text
        div.col-lg-3
            // check if user is logged in
            if user
                p
                    if isFavorited
                        a(href="/ufav/#{story.id}/#{chapnum}") Remove from Favorites
                    else
                        a(href="/fav/#{story.id}/#{chapnum}") Add to Favorites
                // check if story is owned by the viewer
                if user.id == story.UserId
                    p
                        a(href="/edit/s/#{story.id}") Edit Story
                    p
                        a(href="/edit/s/#{story.id}/#{chapnum}").disabled Edit Chapter
                    p
                        a(href="/new/chap/#{story.id}") Add New Chapter
            if story.Tags
                h2 Tags
                ul
                    each tag in story.Tags
                        li
                            a(href="/tag/#{tag.name}",title="#{tag.description}") #{tag.name}
    div.row
        div.col-lg-3
            if chapnum != 1
                - var prevChap = parseInt(chapnum) - 1
                div.pull-left
                    a(href="/s/#{story.id}/#{prevChap}") Previous
        div.col-lg-3.text-center
            p Chapter #{chapnum} of #{story.chapterCount}
            form(name=jump).center.form-inline
                label(for="goto") Go To Chapter:
                select(name="goto").form-control#goto
                    - var i = 1
                    while i <= story.chapterCount
                        if i == chapnum
                            option(value="/s/#{story.id}/#{i}",selected=true)= i
                        else
                            option(value="/s/#{story.id}/#{i}")= i
                        - i++
        div.col-lg-3.text-right
            if chapnum != story.chapterCount
                - var nextChap = parseInt(chapnum) + 1
                a(href="/s/#{story.id}/#{nextChap}") Next
    if user
        div.row
            h2 Leave a comment
            form(action="/comment",method="post")
                textarea(name="comtext").form-control
                input(name="chnum",hidden="true",value="#{story.Chapters[0].chapterNum}")
                input(name="url",hidden="true",value="#{url}")
                input(name="storyid",hidden="true",value="#{story.id}")
                button(type=submit).btn.btn-default.pull-right Submit
    if story.Comments
        for comment in story.Comments
            div(id="c#{comment.id}").row.comment
                hr
                div.col-lg-1
                    img(src="#{comment.User.imageUrl}")
                    a(href="/u/#{comment.User.id}").text-center= comment.User.displayName
                div.col-lg-9
                    != comment.text
                div.pull-right= "ch"+comment.ChapterNum
                div.col-lg-2.bottom-align-text= comment.createdAt
    script(type="text/javascript").
        $('select#goto').change(function () {
            // this function runs when a user selects an option from a <select> element
            window.location.href = $("select#goto option:selected").attr('value');
        });