//
    Displays all of the tags ordered by usage
    Created by hschmale on 5/20/16.

extends layout.jade

block head-content
    script(src="/static/tag-cloud/jqcloud-1.0.4.min.js")
    link(rel="stylesheet",href="/static/tag-cloud/jqcloud.css")
    style.
        #keywords {
            width: 80%;
            min-height: 400px;
        }
block body-content
    h2 Top 100 Tags
    div#keywords.center-block
    script(type="text/javascript").
        var words = !{tagJSON};
        words.forEach(function(t){
            t.link = "/tag/" + t.text;
        });
        $('#keywords').jQCloud(words, {
            autoResize: true
        });


