//
   Created by hschmale on 5/22/16.

extends layout
block body-content
    h1 All Tags
    each tag in tags
        li
            a(href="/tag/#{tag.name}",title="#{tag.description}") #{tag.name} (#{tag.useCount})