//
    Displays other user's personal  profile

extends layout

block body-content
    div.page-header
        h1= "User Profile: " + user.displayName

    div.row
        div.col-lg-6
            table.table
                tr
                    th User Id
                    td= user.id
                tr
                    th Stories
                    td= user.Stories.length
        div.col-lg-4
            if userStory
                != userStory
            else
                p You don't have any details publicly available. Would you like to add some?
            a(href='#')
    div.row
        div.col-lg-6
            h1 Stories By Me
            if user.Stories
                ul
                    each story in user.Stories
                        li
                            a(href="/s/#{story.id}") #{story.title}
                            != md(story.description)
                            p Updated At: #{story.getDateUpdatedAt()}
            else
                p You haven't written any stories.
        div.col-lg-6
            h1 My Favorites
            if user.StoryFavorites
                ul
                    each fav in user.StoryFavorites
                        li
                            a(href="/s/#{fav.Story.id}") #{fav.Story.title}