//
    News feed snip
    Created by hschmale on 5/28/16.

if news
    h1 Recent Announcements
    div.list-group
        each item in news
            a.list-group-item(href="/news/#{item.id}")
                h4.list-group-item-heading= item.title
                p.list-group-item-text= item.getPreview(20)
        if news.length >= 3
            a.list-group-item(href="/news")
                h4.list-group-item-text View Past News