//
   Created by hschmale on 5/21/16.

each story in stories
    div.story.row
        div.story-title.col-lg-3
            a(href="/s/#{story.id}/1")= story.title
        div.story-author.col-lg-3
            a(href="/u/#{story.User.id}")= story.User.displayName
        div.story-descr.col-lg-3= story.description
        div.story-tags.col-lg-3
            ul
                each tag in story.StoryTags
                    li.tag-cloud
                        a(href="/tag/#{tag.Tag.name}") #{tag.Tag.name}
