//
    Meant to show the top tags
    Created by hschmale on 5/29/16.

if tags
    h1 Popular Tags
    div.list-group
        each tag in tags
            a(href="/tag/#{tag.name}").list-group-item= tag.name
                span.badge= tag.useCount
        a(href="/tag").list-group-item More Tags